<ion-list >
    <ion-item-sliding *ngFor ="let lista of deseosServices.listas | filtroCompletado:terminada" 
    class="animated fadeInDown">

    <!-- Editar -->
    <ion-item-options side="start">
      <ion-item-option (click)="editarLista( lista )" color="primary">
          <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>

    </ion-item-options>

    <!-- Lista -->
      <ion-item 
                lines="none" 
                (click) = "listaSeleccionada( lista )"
                detail>
        <ion-label>{{lista.titulo}}</ion-label>
        <ion-note slot="end" >{{ lista.item.length }}</ion-note>

      </ion-item>

      <!-- Eliminar -->
      <ion-item-options side="end">
        <ion-item-option (click)="borrarLista( lista )" color="danger">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>

      </ion-item-options>

    
  </ion-item-sliding>

</ion-list>
